body {
}

#lith {
    background-image: url(../Assets/Blog/footer.png);
}

.water {
    background-image: url(../Assets/Blog/water.png), linear-gradient(#20427F, white);
    background-repeat: repeat-x, no-repeat;
    background-position: left bottom, left;
}