<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MapleUnity</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cerulean.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/blog.css" />
</head>
    <body style="   background-image: 
                        url(../Assets/Blog/background/cloud1.png),
                        url(../Assets/Blog/background/cloud2.png),
                        url(../Assets/Blog/background/tree.png),
                        url(../Assets/Blog/background/building.png),
                        url(../Assets/Blog/background/rocks.png),
                        url(../Assets/Blog/background/water.png), 
                        linear-gradient(#20427F, white);

                    background-size: 
                        auto,
                        auto,
                        auto,
                        auto,
                        auto,
                        auto, 
                        cover;

                    background-repeat: 
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        repeat-x, 
                        no-repeat; 

                    background-position: 
                        top left, 
                        top 10% right 25%,
                        bottom 50px left 0px,
                        bottom 50px right 0px,
                        bottom 25% right 45%,
                        left bottom, 
                        left;">

<!-- 
    
This behavior is what I'm looking for, however, I think we need to use a different technique. 
    Instead of fixing the background (its a lot of work for phones), we should simply implement a 
    page system where a user can view the next 'page' of posts that are fitted to the screen.

                background-attachment:
                            fixed,
                            fixed,
                            fixed,
                            fixed,
                            fixed,
                            fixed,
                            fixed !important;

-->

        <header>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer id="lith" class="footer position-fixed d-flex flex-wrap justify-content-center pt-5 pb-4 mt-4 px-4 border-0 align-items-center">
        </footer>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>