@page
@model Portfolio.Pages.HookOrBeHooked.IndexModel
@{
    // This page hosts the Hook or Be Hooked phaser.js project
}
<!-- Game Container -->
<div id="gameContainer"></div>

<!-- Add references to SignalR, Phaser, and game logic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script src="~/js/phaser.min.js"></script>
<script src="~/js/game.js?v=1.0"></script>
