<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryan's Portfolio</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slate.css" asp-append-version="true" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
        </symbol>
    </svg>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3" data-bs-theme="dark">
            <div class="container">
                <a asp-page="Index" class="navbar-brand">
                    <img src="~/Assets/mapleleaf.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Red Book
                    
                </a>
                <div class="container">
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="favorites">
                            <a class="nav-link @(Context.Request.Path == "/Redbook/Favorites" ? "active" : "")" asp-area="" asp-page="/RedBook/Favorites">Favorites</a>
                        </li>
                        <li class="nav-item" id="search">
                            <a class="nav-link @(Context.Request.Path == "/RedBook/Search" ? "active" : "")" asp-area="" asp-page="/RedBook/Search">Find a Scroll</a>
                        </li>
                        <li class="nav-item" id="return">
                            <a class="nav-link" asp-area="" asp-page="/Index">Return to Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer d-flex flex-wrap justify-content-between py-3 mt-4 px-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary"></span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="font-size: 20px">
            @*                 <li class="ms-3">
            <a class="text-body-secondary" href="https://www.facebook.com/Ryandtombleson/">
            <i class="devicon-facebook-plain">
            <use xlink:href="#facebook"></use>
            </i>
            </a>
            </li> *@
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.linkedin.com/in/ryan-tombleson-6499ba231/">
                    <i class="devicon-linkedin-plain">
                        <use xlink:href="#linkedin"></use>
                    </i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="https://github.com/RyanAtRowan">
                    <i class="devicon-github-original">
                        <use xlink:href="#github"></use>
                    </i>
                </a>
            </li>
        </ul>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>