@page
@model Portfolio.Pages.RedBook.EditModel
@{
}

<div class="align-items-center justify-content-center g-5 py-5 mx-0">
    <h2 class="py-2" style="text-align:center">Update Price</h2>
    <div class="container text-center">
        <div class="row py-4">
            <div class="col  d-flex justify-content-end align-items-center">
                @{
                    var imageUrl = $"~/Assets/{Model.Scroll.Success}.png";
                }
                <img src="@Url.Content(imageUrl)" class="px-3" />
            </div>
            <div class="col d-flex align-items-center">
                @Model.Scroll.Name
            </div>
        </div>
        <form method="post">
            <input asp-for="Scroll.Id" hidden />
            <input asp-for="Scroll.Name" hidden />
            <input asp-for="Scroll.Slot" hidden />
            <input asp-for="Scroll.Stat" hidden />

            <div class="row py-4">
                <div class="col d-flex justify-content-end align-items-center">
                    <span style="font-weight:bold">Old Price:&nbsp;&nbsp;</span>  @Model.Scroll.Price Mesos
                </div>
                <div class="col d-flex align-items-center">
                    <input asp-for="Scroll.Price" placeholder="New Price" class="form-control" id="numberInput" oninput="convertNumber()" style="max-width:250px" />
                    <span asp-validation-for="Scroll.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row py-4">
                <div class="col d-flex justify-content-end align-items-center">
                    Preview:
                </div>
                <div class="col d-flex align-items-center">
                    <span id="convertedValue"></span>
                </div>
            </div>
            <div class="row py-4">
                <div class="col d-flex justify-content-end align-items-center">
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </div>
                <div class="col d-flex align-items-center">
                    <button type="button" class="btn btn-secondary" onclick="goBack()">Back</button>
                </div>
            </div>
        </form>
    </div>


    @section Scripts {
        <script src="~/js/conversion.js"></script>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    }
