@page
@model Portfolio.Pages.RedBook.SearchModel
@{
}

<div class="align-items-center justify-content-center g-5 py-5 mx-0" id="search">
    <form method="post">

        <div class="" id="hanging-icons">
            <h2 class="py-2" style="text-align:center">Search for a Scroll</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex justify-content-center">
                    <div class="icon-square d-inline-flex fs-4 flex-shrink-0 me-3">
                        <img src="~/Assets/equip.png" height="30px">
                    </div>
                    <div>
                        <h3 class="fs-2 text-white">Item Slot</h3>
                        <!-- Item Drop Down -->
                        <select class="form-select" style="width:250px" aria-label="Default select example" name="item">
                            <option selected value="">Any</option>
                            <option value="bottom">Bottomwear</option>
                            <option value="bow">Bow</option>
                            <option value="cape">Cape</option>
                            <option value="claw">Claw</option>
                            <option value="crossbow">Crossbow</option>
                            <option value="dagger">Dagger</option>
                            <option value="earring">Earrings</option>
                            <option value="eye">Eye Accessory</option>
                            <option value="face">Face Accessory</option>
                            <option value="gloves">Gloves</option>
                            <option value="gun">Gun</option>
                            <option value="helmet">Helmet</option>
                            <option value="knuckle">Knuckle</option>
                            <option value="1HA">One-handed Axe</option>
                            <option value="1HBW">One-handed BW</option>
                            <option value="1HS">One-handed Sword</option>
                            <option value="overall">Overall Armor</option>
                            <option value="pet">Pet Equip</option>
                            <option value="polearm">Pole Arm</option>
                            <option value="shield">Shield</option>
                            <option value="shoes">Shoes</option>
                            <option value="spear">Spear</option>
                            <option value="staff">Staff</option>
                            <option value="top">Topwear</option>
                            <option value="2HA">Two-handed Axe</option>
                            <option value="2HBW">Two-handed BW</option>
                            <option value="2HS">Two-handed Sword</option>
                            <option value="wand">Wand</option>

                        </select>


                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="icon-square d-inline-flex fs-4 flex-shrink-0 me-3">
                        <img src="~/Assets/stats.png" height="30px">
                    </div>
                    <div>
                        <h3 class="fs-2 text-white">Stat</h3>
                        <!-- Stat Dropdown -->
                        <select class="form-select" style="width:250px" aria-label="Default select example" name="stat">
                            <option selected value="">Any</option>
                            <option value="ACC">Accuracy</option>
                            <option value="ATT">Attack</option>
                            <option value="AVOID">Avoidance</option>
                            <option value="CLEAN">Clean Slate</option>
                            <option value="COLD">Cold Resist</option>
                            <option value="DEF">Defense</option>
                            <option value="DEX">DEX</option>
                            <option value="HP">HP</option>
                            <option value="INT">INT</option>
                            <option value="JUMP">Jump</option>
                            <option value="LUK">LUK</option>
                            <option value="MATT">Magic Attack</option>
                            <option value="MDEF">Magic Defense</option>
                            <option value="MP">MP</option>
                            <option value="SPEED">Speed</option>
                            <option value="SPIKES">Spikes</option>
                            <option value="STR">STR</option>

                        </select>


                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="icon-square d-inline-flex fs-4 flex-shrink-0 me-3">
                        <img src="~/Assets/skill.png" height="30px">
                    </div>
                    <div>
                        <h3 class="fs-2 text-white">Success Rate</h3>

                        <!-- Success Rate Dropdown -->
                        <select class="form-select" style="width:250px" aria-label="Default select example" name="rate">
                            <option selected value="">Any</option>
                            <option value="1">1%</option>
                            <option value="3">3%</option>
                            <option value="5">5%</option>
                            <option value="10">10%</option>
                            <option value="20">20%</option>
                            <option value="30">30%</option>
                            <option value="60">60%</option>
                            <option value="70">70%</option>
                            <option value="100">100%</option>

                        </select>


                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary py-3 px-5">Search</button>
        </div>
    </form>
</div>
