@page
@model IndexModel
@{
}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="/Assets/Resume_Thumbnail.jpeg" class="d-block mx-lg-auto img-fluid rounded-3" style="box-shadow: 0 0 5px 5px rgba(111, 66, 193, 0.9);" alt="My Graduation Photo" width="500" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" data-bs-theme="dark">A little about me...</h1>
        <p class="lead">I'm Ryan Tombleson, a graduate of Rowan University with a passion for coding. I specialize in web development (full stack is my favorite flavor), mobile development, and game development. I'm thrilled to present my portfolio of coding projects on this website, where you can explore my skills and experience.</p>
        <p class="lead">This particular website is an ASP.NET Core project hosted with Azure. This is my prefered environment for development.</p>
    </div>
</div>