@page
@model IndexModel
@{
}

<div class="row flex-lg-row align-items-center justify-content-center g-5 py-5 mx-0">
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" data-bs-theme="dark">A little about me...</h1>
        <p class="lead">I'm Ryan Tombleson, a graduate of Rowan University with a passion for coding. I specialize in full stack web development. I'm thrilled to present my portfolio of coding projects on this website, where you can explore my skills and experience.</p>
        <p class="lead">This particular website is an ASP.NET Core project hosted using a Rasberry Pi.  This configuration is perfect for home projects.</p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6 w-50 pb-4">
        <img src="/Assets/Resume_Thumbnail.jpeg" class="d-block mh-75 img-fluid rounded-3 mh-75" style="max-height: 500px; box-shadow: 0 0 5px 5px rgba(111, 66, 193, 0.9);" alt="My Graduation Photo" loading="lazy">
    </div>
</div>