@page
@model Portfolio.Pages.ProjectsModel
@{
}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 text-body-emphasis" data-bs-theme="dark">Projects</h2>
    <p class="pb-2 border-bottom">I strive to deliver innovative solutions and contribute to interesting projects. Feel free to browse through my work and explore the different technologies and approaches that were employed. I'm excited about the possibilities that lie ahead, and I'm eager to connect with like-minded professionals.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-body fs-2 mb-3">
                <i class="devicon-dotnetcore-plain"></i>
                <i class="devicon-azuresqldatabase-plain"></i>
                <i class="devicon-blazor-original"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis" data-bs-theme="dark">Roadie Tools <br /><i>(Work in Progress)</i></h3>
            <p>
                This is a website that will help servers at a particular Texas Roadhouse location complete their "backworks" more effectively.
                <br /> 
                <br />
                Intended Features:
                <ul>
                    <li>
                        The Guide: neatly display backworks using both images and expandable text
                    </li>
                    <li>
                        Manager Portal: Allow managers to login using store credentials. Once inside, they can add, remove, or update the backworks and their steps. This includes the ability to add and remove images, utilizing the camera on their phone.
                    </li>
                </ul> 
            </p>
            <a href="https://github.com/RyanAtRowan/Roadie_Tools" class="icon-link">
                Github
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-body fs-2 mb-3">
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-bootstrap-plain"></i>
                <i class="devicon-php-plain"></i>
                <i class="devicon-azuresqldatabase-plain"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis" data-bs-theme="dark">Red Book</h3>
            <p>A Web App made with Bootstrap and PHP that will allow you to select your favorite Maplestory Scrolls and assign prices to them.
                <br />
                <br />
                Features: 
                <ul>
                    <li>User Login: users can log in and maintain their own favorite scroll list (guests, feel free to use "user" and "password" to log in!) </li>
                    <li>Scroll Search: search through hundreds of scrolls, you may use drop down menus to select which particular attribute you would like to search for.</li>
                    <li>Price Adjust: users can adjust the prices of the items and update the current value of the items in the data base.</li>
                    <li>Top 10: queries the database and grabs the top 10 highest price scrolls in the game.</li>
                </ul>
            </p>
            <!--
            <a href="https://www.moon-pi.net/redbook/" class="icon-link">Demo
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
            -->
            <a href="https://github.com/RyanAtRowan/RedBook" class="icon-link">
                Github
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-body fs-2 mb-3">
                <i class="devicon-dotnetcore-plain"></i>
                <i class="devicon-azure-plain"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis" data-bs-theme="dark">Portfolio</h3>
            <p>This website was created using ASP.NET Core with Razor pages.
                <br />
                <br />
                Features: 
                <ul>
                    <li>Bootstrap: many elements of this page are customized bootstrap elements and properties.</li>
                    <li>Azure Deployment: the challenge of properly deploying a website is particularly satisfying. Usually, I use my raspberry pi website. However, this time we are hosting using Azure.</li>
                </ul>
            </p>
            <a href="https://github.com/RyanAtRowan/Portfolio" class="icon-link">
                Github
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
</div>