@page
@model IndexModel
@{
}

<div class="container">
    <!-- Start Entry -->
    <div class="row mx-2">
        <!-- Emote -->
        <div class="col-1" style="position: relative;">
            <img src="~/Assets/Blog/headtest.png" style="text-align:right;position: absolute;bottom: 0; right: 0;" />
        </div>
        <!-- Chat Bubble -->
        <div class="col-11">
            <div class="card py-3 px-3 mt-5 rounded-4 border-0 align-items-center" style="background-color: #EEEEEE">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare leo eu nisi ultricies, sit amet faucibus arcu malesuada. In convallis velit nibh. Donec a tortor sed risus consectetur pharetra. Curabitur enim tellus, fringilla ac est ut, maximus suscipit sapien. Phasellus sed nunc imperdiet, rutrum tortor id, mollis sapien. Etiam.
                <div class="d-block mt-3 align-content-center">
                    <a href="~/Assets/Blog/screenshottest.png"><img src="~/Assets/Blog/screenshottest.png" width="150px" height="100px" class="object-fit-cover border rounded" /></a>
                    <a href="~/Assets/Blog/screenshottest.png"><img src="~/Assets/Blog/screenshottest.png" width="150px" height="100px" class="object-fit-cover border rounded" /></a>
                </div>

            </div>
            <img src="~/Assets/Blog/chatbubble.png" style="height:25px; width: 25px; margin-top: -5px; margin-left: 10px" />
        </div>
    </div>
    <!-- End Entry -->
    <!-- Start Entry -->
    <div class="row mx-2">
        <!-- Emote -->
        <div class="col-1" style="position: relative;">
            <img src="~/Assets/Blog/headtest.png" style="text-align:right;position: absolute;bottom: 0; right: 0;" />
        </div>
        <!-- Chat Bubble -->
        <div class="col-11">
            <div class="card py-3 px-3 mt-5 rounded-4 border-0" style="background-color: #EEEEEE">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare leo eu nisi ultricies, sit amet faucibus arcu malesuada. In convallis velit nibh. Donec a tortor sed risus consectetur pharetra. Curabitur enim tellus, fringilla ac est ut, maximus suscipit sapien. Phasellus sed nunc imperdiet, rutrum tortor id, mollis sapien. Etiam.
            </div>
            <img src="~/Assets/Blog/chatbubble.png" style="height:25px; width: 25px; margin-top: -5px; margin-left: 10px" />
        </div>
    </div>
    <!-- End Entry -->
    <!-- Start Entry -->
    <div class="row mx-2">
        <!-- Emote -->
        <div class="col-1" style="position: relative;">
            <img src="~/Assets/Blog/headtest.png" style="text-align:right;position: absolute;bottom: 0; right: 0;" />
        </div>
        <!-- Chat Bubble -->
        <div class="col-11">
            <div class="card py-3 px-3 mt-5 rounded-4 border-0" style="background-color: #EEEEEE">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare leo eu nisi ultricies, sit amet faucibus arcu malesuada. In convallis velit nibh. Donec a tortor sed risus consectetur pharetra. Curabitur enim tellus, fringilla ac est ut, maximus suscipit sapien. Phasellus sed nunc imperdiet, rutrum tortor id, mollis sapien. Etiam.
            </div>
            <img src="~/Assets/Blog/chatbubble.png" style="height:25px; width: 25px; margin-top: -5px; margin-left: 10px" />
        </div>
    </div>
    <!-- End Entry -->
    <div class="row my-5"></div>


</div>
                    
